.hero {
    background-color: #495E57;
}

.hero > section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.hero section {
    padding: 10px;
}

.hero section article h1 {
    color: var(--Secondary-2, #FBDABB);
    font-family: Markazi Text;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.hero section article h4 {
    color: #FFF;
    font-family: Markazi Text;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.hero section article p {
    width: 19.375rem;
    height: 5.03494rem;
    color: var(--Secondary-3, #EDEFEE);
    font-family: Karla;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero section button {
    width: 200px;
    height: 60px;
    cursor: pointer;
    color: #333333;
    background-color: #F4CE14;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.hero img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}